In [1]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [4]:
data= pd.read_csv("/home/souvik/ML_projects/P1_CreditCard/data/crx.data", header=None)
data.head()

  0      1      2  3  4  5  6     7  8  9   10 11 12     13   14 15
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  00202    0  +
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g  00043  560  +
2  a  24.50  0.500  u  g  q  h  1.50  t  f   0  f  g  00280  824  +
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  00100    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  00120    0  +

In [5]:
data.columns= ["a"+str(i) for i in range(1,17)]
data.head()

  a1     a2     a3 a4 a5 a6 a7    a8 a9 a10  a11 a12 a13    a14  a15 a16
0  b  30.83  0.000  u  g  w  v  1.25  t   t    1   f   g  00202    0   +
1  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g  00043  560   +
2  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  00280  824   +
3  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  00100    3   +
4  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  00120    0   +

In [6]:
target= data[['a16']]
data = data.drop(['a16'], axis=1)
print(data.head())

  a1     a2     a3 a4 a5 a6 a7    a8 a9 a10  a11 a12 a13    a14  a15
0  b  30.83  0.000  u  g  w  v  1.25  t   t    1   f   g  00202    0
1  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g  00043  560
2  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  00280  824
3  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  00100    3
4  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  00120    0

In [7]:
X_train, X_test, y_train, y_test= train_test_split(data, target, test_size= 0.2, random_state=711)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)
X_train.to_csv("/home/souvik/ML_projects/P1_CreditCard/data/X_train.csv", index=False)
X_test.to_csv("/home/souvik/ML_projects/P1_CreditCard/data/X_test.csv", index=False)
y_train.to_csv("/home/souvik/ML_projects/P1_CreditCard/data/y_train.csv", index=False)
y_test.to_csv("/home/souvik/ML_projects/P1_CreditCard/data/y_test.csv", index=False)

(552, 15)
(138, 15)
(552, 1)
(138, 1)

In [2]:
X_train= pd.read_csv("/home/souvik/ML_projects/P1_CreditCard/data/X_train.csv")
y_train= pd.read_csv("/home/souvik/ML_projects/P1_CreditCard/data/y_train.csv")
X_train.head()

  a1     a2      a3 a4 a5  a6 a7     a8 a9 a10  a11 a12 a13    a14  a15
0  b  20.17   8.170  u  g  aa  v  1.960  t   t   14   f   g  00060  158
1  a  27.58   3.000  u  g   m  v  2.790  f   t    1   t   g  00280   10
2  b  39.58  13.915  u  g   w  v  8.625  t   t    6   t   g  00070    0
3  b  41.17   1.250  y  p   w  v  0.250  f   f    0   f   g  00000  195
4  b  22.25   0.460  u  g   k  v  0.125  f   f    0   t   g  00280   55

In [3]:
X_train[(X_train['a1']!='a') & (X_train['a1']!='b')]

    a1     a2     a3 a4 a5  a6 a7     a8 a9 a10  a11 a12 a13    a14   a15
38   ?  29.75  0.665  u  g   w  v  0.250  f   f    0   t   g  00300     0
79   ?  26.50  2.710  y  p   ?  ?  0.085  f   f    0   f   s  00080     0
148  ?  20.42  7.500  u  g   k  v  1.500  t   t    1   f   g  00160   234
201  ?  28.17  0.585  u  g  aa  v  0.040  f   f    0   f   g  00260  1004
330  ?  32.25  1.500  u  g   c  v  0.250  f   f    0   t   g  00372   122
426  ?  20.08  0.125  u  g   q  v  1.000  f   t    1   f   g  00240   768
449  ?  42.25  1.750  y  p   ?  ?  0.000  f   f    0   t   g  00150     1
452  ?  45.33  1.000  u  g   q  v  0.125  f   f    0   t   g  00263     0
512  ?  29.50  2.000  y  p   e  h  2.000  f   f    0   f   g  00256    17
518  ?  33.17  2.250  y  p  cc  v  3.500  f   f    0   t   g  00200   141

### Now we will expolre values of each columns

In [4]:
X_train.replace('?', np.NAN, inplace=True)

A1: b, a. <br>
A2: continuous.<br>
A3: continuous.<br>
A4: u, y, l, t.<br>
A5: g, p, gg.<br>
A6: c, d, cc, i, j, k, m, r, q, w, x, e, aa, ff.<br>
A7: v, h, bb, j, n, z, dd, ff, o.<br>
A8: continuous.<br>
A9: t, f.<br>
A10: t, f.<br>
A11: continuous.<br>
A12: t, f.<br>
A13: g, p, s.<br>
A14: continuous.<br>
A15: continuous.<br>
A16: +,- (class attribute)<br>

In [ ]:
X_train.info()

**Numerical Attributes** <br>
a2 (obj to float64)<br>
a3, a8, a11 (int to float64) , a14(obj to float64)<br>
a15 (int to float64)

In [5]:
X_train['a2']= X_train['a2'].astype('float64')
X_train['a11']= X_train['a11'].astype('float64')
X_train['a14']= X_train['a14'].astype('float64')
X_train['a15']= X_train['a15'].astype('float64')
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 552 entries, 0 to 551
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a1      542 non-null    object
 1   a2      542 non-null    float64
 2   a3      552 non-null    float64
 3   a4      546 non-null    object
 4   a5      546 non-null    object
 5   a6      543 non-null    object
 6   a7      543 non-null    object
 7   a8      552 non-null    float64
 8   a9      552 non-null    object
 9   a10     552 non-null    object
 10  a11     552 non-null    float64
 11  a12     552 non-null    object
 12  a13     552 non-null    object
 13  a14     542 non-null    float64
 14  a15     552 non-null    float64
dtypes: float64(6), object(9)
memory usage: 64.8+ KB

* So a2 also contains 12 '?' values

In [5]:
X_train.isna().sum()

a1     10
a2     10
a3      0
a4      6
a5      6
a6      9
a7      9
a8      0
a9      0
a10     0
a11     0
a12     0
a13     0
a14    10
a15     0
dtype: int64

### Till now null values are found in a1, a2 and a4

In [6]:
X_train.fillna(X_train.mean(), inplace=True)
X_train.isna().sum()

a1     10
a2      0
a3      0
a4      6
a5      6
a6      9
a7      9
a8      0
a9      0
a10     0
a11     0
a12     0
a13     0
a14     0
a15     0
dtype: int64

Categorical attributes are <br>
a1, a\[4-7], a9, a10, 12, 13, 16

In [7]:
for col in X_train.columns:
    if X_train[col].dtype == 'object':
        X_train[col].fillna(X_train[col].value_counts().idxmax(), inplace= True)
    
X_train.isna().sum()

a1     0
a2     0
a3     0
a4     0
a5     0
a6     0
a7     0
a8     0
a9     0
a10    0
a11    0
a12    0
a13    0
a14    0
a15    0
dtype: int64

In [ ]:
y_train.head()

In [9]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
y_train_np= y_train['a16'].values
le_y= LabelEncoder()
y_train_np= le_y.fit_transform(y_train_np)
print(y_train_np[:5])

[0 1 0 1 1]

1,9,10,12

In [10]:
encoders=[]

for col in ['a1', 'a9', 'a10', 'a12']:
    le_x= LabelEncoder()
    X_train.loc[:, col]= le_x.fit_transform(X_train[col])
    encoders.append(le_x)

Multivalued categorical attributes are<br>
a 4 to 7, a13

In [11]:
multivalcatcolumns= ['a4', 'a5', 'a6', 'a7', 'a13']

ohe= OneHotEncoder(sparse=False, handle_unknown= 'ignore')
ohe_res= ohe.fit_transform(X_train[multivalcatcolumns])
print(type(ohe_res))
print(ohe_res.shape)

<class 'numpy.ndarray'>
(552, 32)

In [20]:
print(X_train.shape)
X_train.drop(multivalcatcolumns, axis=1, inplace= True)

(552, 15)

In [21]:
print(X_train.shape)
temp_df= pd.concat([X_train, pd.DataFrame(ohe_res)], axis=1)
print(temp_df.shape)

(552, 10)
(552, 42)

In [13]:
X_train= temp_df
print(X_train.shape)

(552, 42)

In [14]:
scaler= StandardScaler()
X_train_scaled= scaler.fit_transform(X_train)
print(X_train_scaled.shape)

(552, 42)

In [15]:
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV

In [16]:
svc_mod= SVC()
parameters= {'C':[10, 1, 0.1, 0.01, 0.001], 'kernel':['rbf', 'poly', 'sigmoid'], 'degree':[2,3,4,5]}
grid_svc= GridSearchCV(svc_mod, param_grid=parameters,cv =4)
grid_svc.fit(X_train_scaled, y_train_np)

GridSearchCV(cv=4, error_score=nan,
             estimator=SVC(C=1.0, break_ties=False, cache_size=200,
                           class_weight=None, coef0=0.0,
                           decision_function_shape='ovr', degree=3,
                           gamma='scale', kernel='rbf', max_iter=-1,
                           probability=False, random_state=None, shrinking=True,
                           tol=0.001, verbose=False),
             iid='deprecated', n_jobs=None,
             param_grid={'C': [10, 1, 0.1, 0.01, 0.001], 'degree': [2, 3, 4, 5],
                         'kernel': ['rbf', 'poly', 'sigmoid']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [17]:
print(grid_svc.best_estimator_)
print(grid_svc.best_params_)
print(grid_svc.best_score_)

SVC(C=0.1, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=2, gamma='scale', kernel='sigmoid',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)
{'C': 0.1, 'degree': 2, 'kernel': 'sigmoid'}
0.855072463768116

In [18]:
X_test= pd.read_csv("/home/souvik/ML_projects/P1_Credit_card_Approval/data/X_test.csv")
y_test= pd.read_csv("/home/souvik/ML_projects/P1_Credit_card_Approval/data/y_test.csv")

X_test.replace('?', np.NAN, inplace=True)

X_test['a2']= X_test['a2'].astype('float64')
X_test['a11']= X_test['a11'].astype('float64')
X_test['a14']= X_test['a14'].astype('float64')
X_test['a15']= X_test['a15'].astype('float64')


X_test.fillna(X_test.mean(), inplace=True)

for col in X_test.columns:
    if X_test[col].dtype == 'object':
        X_test[col].fillna(X_test[col].value_counts().idxmax(), inplace= True)

In [19]:
X_test.head()

  a1     a2     a3 a4 a5 a6  a7     a8 a9 a10  a11 a12 a13         a14     a15
0  b  22.00  7.835  y  p  i  bb  0.165  f   f  0.0   t   g  207.881481     0.0
1  a  18.42  9.250  u  g  q   v  1.210  t   t  4.0   f   g   60.000000   540.0
2  b  39.42  1.710  y  p  m   v  0.165  f   f  0.0   f   s  400.000000     0.0
3  b  22.92  3.165  y  p  c   v  0.165  f   f  0.0   f   g  160.000000  1058.0
4  b  28.75  1.165  u  g  k   v  0.500  t   f  0.0   f   s  280.000000     0.0

In [20]:
X_test.loc[((X_test['a1']!='a') & (X_test['a1']!='b')),'a1']='a'

In [21]:
X_test[(X_test['a1']!='a') & (X_test['a1']!='b')]
#X_test['a1'].value_counts()

Empty DataFrame
Columns: [a1, a2, a3, a4, a5, a6, a7, a8, a9, a10, a11, a12, a13, a14, a15]
Index: []

In [ ]:
X_test['a10'].value_counts()

In [ ]:
X_test['a12'].value_counts()

In [22]:
for col, encoder in zip(['a1', 'a9', 'a10', 'a12'], encoders):
    X_test.loc[:, col]= encoder.transform(X_test[col])
    
    
ohe_res= ohe.transform(X_test[multivalcatcolumns])
#X_test.drop(multivalcatcolumns, axis=1, inplace= True)
temp_df= pd.concat([X_test, pd.DataFrame(ohe_res)], axis=1)
print(temp_df.shape)

(138, 47)

In [23]:
temp_df.drop(multivalcatcolumns, axis=1, inplace= True)
temp_df.shape

(138, 42)

In [24]:
#le= LabelEncoder()
y_test_np= y_test['a16'].values
y_test_np= le_y.fit_transform(y_test_np)

In [25]:
from sklearn.metrics import precision_recall_fscore_support
best_svc= grid_svc.best_estimator_
X_train_scaled= scaler.transform(temp_df)

In [26]:
y_pred= best_svc.predict(X_train_scaled)
#y_pred_proba= best_svc.predict_proba(temp_df)

precision, recall, fscore, support= precision_recall_fscore_support(y_test_np, y_pred)
print(precision, recall, fscore, support)

[0.81818182 0.95180723] [0.91836735 0.88764045] [0.86538462 0.91860465] [49 89]

In [28]:
best_svc.score(X_train_scaled, y_test_np)

0.8985507246376812